<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('header'); %>
        <title>Login</title>
</head>

<body id="page-top">
    <!-- Navigation-->
    <%- include ('navbar'); %>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5">
                            <div class="col-md-10 col-lg-8 mx-auto text-center">
                                <h2 class="text-white mb-5">Enter your Username and Password</h2>
                                <form id="loginForm" action="/login" method="POST"
                                    style="background-color: #ffffff65; padding: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(243, 243, 243, 0.1);">
                                    <label for="username" style="margin-bottom: 10px;">Username:</label>
                                    <input type="text" id="username" name="username" placeholder="Enter your username"
                                        required
                                        style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;">
                                    <label for="password" style="margin-bottom: 10px;">Password:</label>
                                    <input type="password" id="password" name="password"
                                        placeholder="Enter your password" required
                                        style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;">
                                    <input type="submit" value="Login"
                                        style="width: 100%; padding: 10px; border: none; border-radius: 5px; background-color: #007bff; color: #fff; cursor: pointer;">
                                    <!-- Error Message Placeholder -->
                                    <h4 id="loginErrorMessage"
                                        style="margin: 15px 0 0; font-weight: bold; color: #ff6b6b;"></h4>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Contact Section and Footer-->
        <%- include ('contact'); %>
            <%- include ('footer'); %>

                <!-- Scripts -->
                <%- include ('scripts'); %>

</body>

</html>